*.iml
.gradle/
.kotlin/
.idea/
.DS_Store
local.properties
*.bak
*.apk
*.aab
*.aar
*.ap_
*.dex
*.class
*.jks
*.keystore
*.log
*.hprof
build/
app/build/
captures/
.navigation/
.externalNativeBuild/
.cxx/
bin/
gen/
out/
